@model HungApple.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminPanel";
}

<h1><strong>CHỈNH SỬA SẨN PHẨM</strong></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductsEdit" enctype="multipart/form-data" onsubmit="editForm(event)" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <textarea asp-for="Detail" class="form-control" id="detail"></textarea>
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceDiscount" class="control-label"></label>
                <input asp-for="PriceDiscount" class="form-control" />
                <span asp-validation-for="PriceDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" class="form-control" name="fileImage" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsNew" /> @Html.DisplayNameFor(model => model.IsNew)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBestSeller" /> @Html.DisplayNameFor(model => model.IsBestSeller)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSale" /> @Html.DisplayNameFor(model => model.IsSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="w3-button w3-blue w3-round" />
                <a asp-action="ProductsIndex" class="w3-button w3-blue w3-round" style="text-decoration:none;">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function editForm(e) {
            e.preventDefault();
            Swal.fire({
                title: "Bạn có muốn lưu những thay đổi?",
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: "Lưu",
                denyButtonText: `Hủy`
            }).then((result) => {
                if (result.isConfirmed) {
                    const editForm = document.getElementById('editForm');
                    editForm.submit();
                    Swal.fire({
                        title: "Đã lưu!",
                        icon: "success",
                        showConfirmButton: false
                    });
                } else if (result.isDenied) {
                    Swal.fire({
                        title: "Đã hủy!",
                        icon: "error",
                        showConfirmButton: false
                    });
                    setTimeout(function () {
                        window.location.href = '/Admin/ProductsIndex';
                    }, 1500);
                }
            });
        }
        CKEDITOR.replace('description');
        CKEDITOR.replace('detail');
    </script>
}
