@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tạo lại mật khẩu";
    Layout = "_Form";
}
@model HungApple.Models.User

<form asp-action="ResetPassword" asp-controller="Users">
    <div class="form-group">
        <label for="email">Địa chỉ Email</label>
        <input type="email" class="form-control" name="Email" asp-for="Email">
        @* <small class="form-text text-muted">We'll send a reset link to this email.</small> *@
    </div>
    <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
</form>
