
<!-- SEARCH BAR -->
<div class="col-md-6">
	<div class="header-search">
		<form asp-controller="Products" asp-action="Search">
			<input class="input" name="keywords" placeholder="Tìm kiếm ở đây">
			<button type="submit" class="search-btn">Tìm kiếm</button>
		</form>
	</div>
</div>
<!-- /SEARCH BAR -->